<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-form [formGroup]="UserRegisterForm">

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="Name" required></ion-input>
      <ion-label style="color: red; padding-top: 0.2rem" *ngIf="UserRegisterForm.get('Name')?.invalid && UserRegisterForm.get('Name')?.touched">
        Name is required
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="Email" required></ion-input>
      <ion-label style="color: red; padding-top: 0.2rem" *ngIf="UserRegisterForm.get('Email')?.invalid && UserRegisterForm.get('Email')?.touched">
        Email is required
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="Password" type="password" required></ion-input>
      <ion-label style="color: red; padding-top: 0.2rem" *ngIf="UserRegisterForm.get('Password')?.invalid && UserRegisterForm.get('Password')?.touched">
        Password is required
      </ion-label>
    </ion-item>
  
    <ion-button expand="full" (click)="register()">Register</ion-button>
  
  </ion-form>
</ion-content>